src/main/mule/new.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d0a2db81-b4f4-4421-9cb2-320f72a60ee5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="newFlow" doc:id="cabb3692-3769-4d53-8555-ddc28f6832fc" >
		<http:listener doc:name="Listener" doc:id="1bc4e18c-c43f-4841-a81d-0d4fb809c1c7" config-ref="HTTP_Listener_config" path="/new"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ded73f70-d8d0-4fd6-8462-24390c92125a" />
		<foreach doc:name="For Each" doc:id="7c41980e-e33d-47eb-bba7-1c05b89fe05d" >
			<ee:transform doc:name="Transform Message" doc:id="d63dd87a-7584-42b2-8005-88cd2014bda0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<set-payload value="#[payload]" doc:name="Set Payload" doc:id="bd0ee686-656b-4319-8c3c-6b962565ef0f" />
		</foreach>
		<choice doc:name="Choice" doc:id="6ed936bc-28fc-46a1-bb25-9ba21a8a64d1" >
			<when expression="#[payload != null]">
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="79486b9b-e2b8-4c2e-8141-f7afcfe9801b" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="91db6a49-4270-49a7-a43b-106067b024f6" message="Payload is null"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="00966f19-c8fe-4098-9714-91ac60ec0530" message="#[payload]"/>
	</flow>
</mule>
